---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About - Tuneprism">
  <h2>About</h2>

  <div class="songs">
    <p>Tuneprism is a weekly music curation project.

No algorithms.
No trending noise.

Just carefully picked tracks that hold up beyond the feed.

If you're tired of being recommended music,
this is where you reset your taste.</p>
  </div>
</BaseLayout>